

<div class="container">
<div class="row">
<div class="col-md-4">
  <br>
  <h3 style="margin-left: 35px;">Ticket Details</h3>
  <br>
  <div class="list-group">
   <ul> 
     <li class="list-group-item"> Movie Name: {{name}} </li>
     <li class="list-group-item"> Screen: {{screen}} </li>
     <li class="list-group-item"> Tickets nos.: {{tickets}} </li>
     <br>
     <li class="list-group-item">Total: {{total}}</li>

    </ul>
  </div>
</div>


<div class="col-md-2"></div>
<div class="col-md-6">
  <app-payment></app-payment>

    </div>

</div>
</div>