<div class="container" >
  <br>
  <br>
  <div class="row">
    <div class="col-md-5">
       
        <input type="date" class="form-control mr-3 my-1 form-control-lg" placeholder="Date" name = "d" ng-model="d" value = "{{d | date:'dd/MM/yyyy'}}"/>
    </div>
    <div class="col-md-3">
      
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">No. of Seats</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            <option value="7">Seven</option>
            <option value="8">Eight</option>
            <option value="9">Nine</option>
          </select>
        </div>
      </div>
      
        <div class="col-md-1"></div>
        
        <div class="col-md-3 border-primary" style="max-width: 18rem;">
            <div class="card-header">Prices</div>
            <div class="card-body text-secondary">
                <h5 class="card-title">Silver:  100 </h5>
                <h5 class="card-title">Gold:  200 </h5>
                <h5 class="card-title">Platinum:  300 </h5>

              </div>
            </div>
            
                   
  </div>
  <br>
  <br>
<div class="row">
    <div class="input-group-text col-md-2">Show timings :</div>
    <div class="col-md-1"></div>
    <div class="input-group-text col-md-1">Screen 1</div>
<div class="col-md-8">
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['../payment']" >10:00 am</a>
        <a class="flex-sm-fill text-sm-center nav-link"[routerLink]="['../payment']">12:00 pm</a>
        <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['../payment']">1:00 pm</a>
        <a class="flex-sm-fill text-sm-center nav-link " [routerLink]="['../payment']">2:00 pm</a>
      </nav>

 </div>

 
  </div>
  <br>
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-1"></div>
      <div class="input-group-text col-md-1">Screen 2</div>
  <div class="col-md-8">
      <nav class="nav nav-pills flex-column flex-sm-row">
          <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['../payment']">11:00 am</a>
          <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['../payment']">1:30 pm</a>
          <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['../payment']">4:00 pm</a>
          <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['../payment']">7:00 pm</a>
        </nav>
  
   </div>
  
    </div>
  
    


</div>