<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <div class="container">
        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="assets\images\avatars\v3-2.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Devils</h3>
              <h4>$24.99</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
              <a href="#" class="btn btn-success" [routerLink]="['../select']">BOOK NOW</a>
            </div>
          </div>             
            </div>
          </div>
  </body>
</html>



